.dropZone__container {
  height: 100px;
  background-color: #dfdfdf;
  border-radius: 5px;
}

.dropzone {
  height: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
